* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 25px;
    padding: 5px;
    color: #af1395;
    background: #4fddc2;
}