* {
    margin: 0;
    padding: 0;
}

html ,body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(84, 82, 82, 0.631);
}

.box-input input {
    height: 20px;
    padding: 20px;
    border: none;
    position: relative;
}

.box-input label {
    color: rgb(255, 255, 255);
    position: absolute;
}