* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181718;
}

.card {
    gap: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: #000;
    border: 1px solid rgb(33, 32, 32);
    box-shadow: 0px 0px 10px 5px rgb(54, 53, 53);
}

.text {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    gap: 20px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btns {
    width: 70px;
    height: 70px;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    background: #502F5B;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.btns.flipped {
    transition: 0.5s;
    background: #3F3F42;
    transform: rotateY(180deg);
}

.btns.flipped:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 5px 5px #555559;
}

.btns:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 5px 5px #6f447e;
}

.btns i {
    transform: rotateY(-180deg);
}

.time {
    color: #fff;
    text-align: center;
}

.time span {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.reset-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#play-btn, #rst-btn {
    border: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.05rem;
}

#play-btn {
    background: #E72C0D;
}

#rst-btn {
    background: #E88E1A;
}

#play-btn:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 6px 3px #c62a0f;
}

#rst-btn:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 6px 3px #cd8322;
}