* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: #000000e2;
}

.container {
    gap: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 75px;
    width: 75px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.icon i {
    font-size: 30px;
}

.icon:nth-child(1):hover {
    color: #A259FF;
    transition: 0.3s ease;
}
.icon:nth-child(2):hover {
    color: #25D366;
    transition: 0.3s ease;
}
.icon:nth-child(3):hover {
    color: #61DAFB;
    transition: 0.3s ease;
}
.icon:nth-child(4):hover {
    color: #E1306C;
    transition: 0.3s ease;
}

.icon span {
    top: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    border-radius: 4px;
    background: #13315c;
    transition: 0.3s ease;
    transform: translateY(-50%);
}

.icon:hover span {
    top: -30%;
    opacity: 1;
    font-size: 16px;
    letter-spacing: 1px;
    background: #ffffff;
}