* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f3a3c;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.box-input {
    width: 250px;
    margin: 15px 0;
    position: relative;
}

.box-input input {
    width: 100%;
    height: 100%;
    min-height: 50px;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    background: #ff87ab;
    border: 3px solid #ffa6c1;
    position: relative;
}

.box-input input:focus {
    outline: none;
    color: #fff;
    background: transparent;
    border: 3px solid #89ff87;
    box-shadow: 1px 1px 8px 2px #89ff87;
}

.box-input label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 20px;
    color: #13315c;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.3s ease;
    background: transparent;
}

.box-input input:focus + label,
.box-input input:valid + label {
    top: 0;
    padding: 4px;
    font-size: 16px;
    border-radius: 4px;
    color: #ffffff;
    background: #2f3a3c;
    border-left: 3px solid #89ff87;
    border-right: 3px solid #89ff87;
}