* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #242423;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 600px;
    box-shadow: 0 0 18px 5px #dd2d4a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login {
    width: 700px;
    height: 600px;
    /* background-color: #0a0908; */
    background-color: cadetblue;
}

.box-login h2 {
    text-align: center;
    color: #fff;
    
}

.box-element {
    width: 300px;
    height: 600px;
    background: #0a0908;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}