* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
}

.box-input {
    position: relative;
}

.box-input input {
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 4px;
    color: #fff;
    background: #353535;
    border: 3px solid #2de346;
}

.box-input input:focus {
    outline: none;
    border: 3px solid #2de346;
}

.box-input label {
    top: 50%;
    left: 10px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 600;
    color: #e6e3e3;
    position: absolute;
    background: #353535;
    transition: 0.3s;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Floating effect */
.box-input input:focus + label,
.box-input input:valid + label {
    top: 0;
    left: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #3cfc55;
    background: #353535;
    border-left: 3px solid #2de346;
    border-right: 3px solid #2de346;
} 