* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #2f2e2e;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding: 20px;
    text-align: center;
    background: #000;
    border-radius: 10px;
}

.btns {
    gap: 10px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 120px;
    height: 120px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: #00FF00;
    border-radius: 15px;
    background: #353839;
}

.btn-game {
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2px;
    margin-bottom: 20px;
    background: #dafeb6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-game:hover {
    transition: 1s;
    background: #caff96;
}

.btn-reset {
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 4px;
    background: #0bd3fb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-reset:hover {
    transition: 1s;
    background: #00b4d8;
}

.game-text > h1 {
    padding: 4px;
    color: #c77dff;
    letter-spacing: 0.5px;
}

.game-text > h2 {
    color: #fcf300;
    letter-spacing: 1px;
    padding: 4px 0px 10px;
}